<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>zngguvnf@znvynraqre.anzr</string>
	<key>contactName</key>
	<string>Matthias Mailänder</string>
	<key>description</key>
	<string>OpenRA mod game rule configuration syntax</string>
	<key>name</key>
	<string>MiniYAML</string>
	<key>uuid</key>
	<string>B0E14B36-629B-11EC-90D6-0242AC120003</string>
</dict>
</plist>
